.sidebar{
    width: 18%;
    min-height: 100vh;
    border: 1.5px solid #a9a9a9;
    border-top: 0;
    font-size: max(1vw,10px);
    min-width: 200px;
}

.sidebar-options{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    gap: 20px;
    width: 80%;
}

.sidebar-option{
    display: flex;
    align-items: center;
    gap: 12px;
    border-right: 0;
    padding: 8px 10px;
    border-radius: 15px;
    cursor: pointer;
}

.sidebar-option span{
    margin-left: auto;
}

.sidebar-option.active{
    background-color: rgba(246, 139, 32, 0.5);
    border-color: tomato;
}

.sidebar-option:hover{
    border-color: tomato;
}

.sidebar-options a img{
    width: 20px;
    height: 20px;
}

.logout img{
    width: 20px;
    height: 20px;
}

@media(max-width: 900px){
    .sidebar-option p{
        display: none;
    }

    .sidebar{
        min-width: 50px;
    }
}