.home-content {
  padding: 0 20px;
}

marquee {
  background-color: #fff;
  height: 50px;
  display: inline-flex;
  align-items: center;
  font-size: 1.5rem;
  font-family: 'inter', sans-serif;
  font-weight: 700;
  color: #251B1B;
}

.star {
  font-size: 1.5rem;
  font-family: 'montserrat', sans-serif;
  font-weight: 700;
  margin: 0 10rem;
  color: #251B1B;
  align-items: last baseline;
  background-color: #fff;
}

.home-container {
  background-color: #fff;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-gap: 10px;
  margin: 20px 0;
  width: 100%;
}

.wardrobe {
  background: linear-gradient(to bottom, #C36C77 50%, #C36C77 50%, #5D3439 100%);
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-height: fit-content;
  padding: 10px 10px;
  min-height: 320px;
}

.wardrobe-img {
  background-color: inherit;
  display: flex;
  justify-content: start;
  align-items: last baseline;
  width: 140%;
  margin-bottom: -20px;
}

.wardrobe-img img {
  width: 600px;
  height: auto;
  background-color: transparent;
  align-items: last baseline;
  margin-left: -50px;
}

.wardrobe-text {
  background-color: inherit;
  max-width: 420px;
}

.wardrobe-text h1 {
  color: white;
  font-size: 1.5rem;
  background-color: inherit;
  font-family: 'poppins', sans-serif;
  font-weight: 700;
  font-size: 42px;
}

.wardrobe-text p {
  color: white;
  font-size: 1rem;
  background-color: inherit;
  opacity: 0.8;
}

.wardrobe-text button {
  background-color: #fff;
  color: #C36C77;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  font-family: 'poppins', sans-serif;
  font-weight: 700;
  margin: 20px 0px;
  border-radius: 15px;
}

.badge {
  background-color: #7FBFE1;
  border-radius: 15px;
  padding: 10px;
  min-height: 320px;
}

.badge img {
  background-color: transparent;
  height: 200px;
  margin-left: 40%;
  margin-top: -25%;
}

.badge h1 {
  color: white;
  font-size: 42px;
  background-color: inherit;
  font-family: 'poppins', sans-serif;
  font-weight: 700;
  background-color: inherit;
  color: #251B1B;
}

.badge p {
  color: white;
  font-size: 1rem;
  background-color: inherit;
}

.badge button {
  background-color: #fff;
  color: #7FBFE1;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  font-family: 'poppins', sans-serif;
  font-weight: 700;
  margin: 20px 0px;
  border-radius: 15px;
}

.banner {
  max-height: 320px;
  min-width: 100%;
  display: flex;
  border-radius: 15px;
  background-color: #EE7846;
  margin-bottom: 20px;
}

.banner * {
  background-color: inherit;
}

.banner span h1 {
  color: white;
  font-size: 4rem;
  font-family: 'montserrat', sans-serif;
  font-weight: 700;
}

.banner span hr {
  background-color: white;
  width: 65%;
  height: 10px;
}

.banner span h4 {
  color: white;
  font-size: 3rem;
  font-family: 'montserrat', sans-serif;
  font-weight: 700;
}

.banner span p {
  color: white;
  font-size: 1rem;
  font-family: 'montserrat', sans-serif;
  font-weight: 700;
  text-align: center;
}

.banner span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 10px;
}

.banner img {
  width: auto;
  height: 320px;
  object-fit: cover;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.explore {
  width: 100%;
  background-color: #fff;
  text-align: center;
  margin: auto;
}

.explore * {
  background-color: inherit;
}

.explore h1 {
  color: #251B1B;
  font-size: 3rem;
  font-family: 'montserrat', sans-serif;
  font-weight: bolder;
}

.explore hr {
  background-color: #251B1B;
  width: 35%;
  height: 5px;
  margin: auto;
}

.explore h4 {
  color: #251B1B;
  font-size: 2rem;
  font-family: 'poppins', sans-serif;
}

.explore button {
  color: #f4a261;
  background-color: #f1f0f0;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  font-family: 'poppins', sans-serif;
  font-weight: 700;
  margin: 20px 0px;
  border-radius: 15px;
}

.explore-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

.explore-card {
  text-align: start;
  padding: 0px 20px;
  padding-top: 20px;
  border-radius: 15px;
  margin-bottom: 0px; 
  background: linear-gradient(to bottom, #636466 0%, #C6C8CC 100%);
}

.explore-card h3 {
  color: #251B1B;
  font-size: 2.5rem;
  font-family: 'poppins', sans-serif;
  font-weight: 700;
  background-color: inherit;
}

.explore-card img {
  position: relative;
  object-fit: cover;
  border-radius: 15px;   
}

.promo {
  background-color: #f1f0f0;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
}

.promo * {
  background-color: #fff;
}

.promo-text {
  padding: 20px;
}

.promo-text h1 {
  color: #000000;
  font-weight: 900;
  font-size: 35px;
  font-family: 'montserrat', sans-serif;
}

.promo-text p {
  color: #000000;
  font-size: 26px;
  font-family: 'montserrat', sans-serif;
}

.promo-text button {
  color: #f4a261;
  background-color: #f1f0f0;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  font-family: 'poppins', sans-serif;
  font-weight: 700;
  margin: 20px 0px;
  border-radius: 15px;
}

.promo-img {
  height: 100%;
  width: auto;
}

.promo-img img {
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 810px) {
  .banner span h1 {
    font-size: 3rem;
  }

  .banner span h4 {
    font-size: 2rem;
  }

  .banner span p {
    font-size: 1rem;
  }

  .banner img {
    height: 250px;
  }

  .promo-text button {
    font-size: 0.8rem;
  }

  .promo {
    display: flex;
    flex-direction: column-reverse;
  }

  .promo-text {
    padding: 0px;
  }

  .promo-text h1 {
    font-size: 30px;
  }

  .promo-text p {
    font-size: 20px;
  }

  .promo-text button {
    font-size: 0.8rem;
  }

  .explore h1 {
    font-size: 2rem;
  }

  .explore hr {
    width: 25%;
  }

  .explore h4 {
    font-size: 1.5rem;
  }

  .explore button {
    font-size: 0.8rem;
  }

  .explore-container {
    grid-template-columns: 1fr 1fr;
  }

  .explore-card h3 {
    font-size: 2rem;
  }

  .explore-card img {
    height: 200px;
  }
}

@media screen and (max-width: 768px) {
  .carousel-slide {
    height: 300px; /* Adjust height for smaller screens */
  }
  .home-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 630px) {
  .banner span h1 {
    font-size: 2rem;
  }

  .banner span h4 {
    font-size: 1.5rem;
  }

  .banner span p {
    font-size: 0.75rem;
  }

  .banner img {
    height: 250px;
  }

  .wardrobe-text h1 {
    font-size: 30px;
  }
  
  .wardrobe-text p {
    font-size: 20px;
  }
}

@media screen and (max-width: 400px) {
  .badge h1 {
    font-size: 25px;
  }
  .badge img {
    margin-left: 10%;
    margin-top: -30px;
    height: 150px;
  }

  .wardrobe-img img {
    margin-left: -30px;
  }
}

@media screen and (max-width: 485px) {
  .carousel-container {
    padding: 5px;
  }
  .carousel-slide {
    height: 200px; /* Adjust height for mobile view */
  }

  .banner {
    padding: 10px;
  }

  .banner span h1 {
    font-size: 2rem;
  }

  .banner span h4 {
    font-size: 1.5rem;
  }

  .banner span p {
    font-size: 0.75rem;
  }

  .banner img {
    display: none;
  }

  .explore-container {
    grid-template-columns: 1fr;
  }

  .wardrobe-text h1 {
    font-size: 20px;
  }
   
  .wardrobe-text p {
    font-size: 10px;
  }

  .wardrobe {
    min-height: fit-content;
  }
}

@media screen and (max-width: 1270px) {
  .home-container {
    display: flex;
    flex-direction: column;
  }
}