/* CSS Variables */
:root {
    --background-color: #fff;
    --secondary-background-color: #f8f8f8;
    --text-color: #333;
    --border-radius: 10px;
    --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    --hover-message-bg: rgba(0, 0, 0, 0.6);
    --hover-message-text-color: #fff;
    --hover-message-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    --hover-message-border: 1px solid rgba(255, 255, 255, 0.2);
}

.Products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    background-color: var(--background-color);
    max-height: 80vh;
}

.category {
    width: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: fit-content;
    gap: 20px;
    align-items: start;
    justify-content: center;
    background-color: var(--background-color);
}

.product-c1, .Product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    border-radius: var(--border-radius);
    background-color: var(--secondary-background-color);
    box-shadow: var(--box-shadow);
    padding: 10px;
    width: 100%;
    height: 100%;
}

.Product img {
    width: 80%;
    height: auto;
    border-radius: var(--border-radius);
    margin-bottom: 10px;
}

.Product p {
    margin: 0;
    font-size: 14px;
    color: var(--text-color);
    font-weight: bold;
    background-color: var(--secondary-background-color);
}

.main {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 15px;
}

.hover-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--hover-message-bg);
    color: var(--hover-message-text-color);
    padding: 30px;
    border-radius: 15px;
    box-shadow: var(--hover-message-shadow);
    text-align: center;
    z-index: 1000;
    font-family: 'Arial', sans-serif;
    backdrop-filter: blur(10px);
    border: var(--hover-message-border);
}

.hover-message h1 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.image-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 2px solid #ccc;
    cursor: ew-resize;
    border-radius: 15px;
}

.image {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.image:first-child {
    background-image: url('../assets/home-banner-with-logo.jpg');
    clip-path: inset(0 100% 0 0);
}

.image:last-child {
    background-image: url('../assets/home-banner-without-logo.jpg');
    clip-path: inset(0 0 0 100%);
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .Products {
        flex-direction: column;
        align-items: center;
    }

    .main {
        max-height: 40vh;
        width: 100%;
    }

    .category {
        width: 100%;
    }

    .image-container {
        max-height: 40vh;
    }

    .bonsai img {
        min-height: 260px;
    }
}

@media screen and (max-width: 480px) {
    .image-container {
        max-height: 30vh;
    }
     
    .main {
        max-height: 30vh;
    }
}