.app {
    box-sizing: border-box;
    border-radius: 8px;
    width: 100%;
    padding: 10px 0px;
    background-color: white;
    align-items: center;
}

.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    margin-top: 20px;
}

.admin-content{
    display: flex;
    transition: 3ms smooth;
  }

@media screen and (min-width: 1600px){
   .main-content{
    max-width: 1600px;
    margin: 0 auto;
   }
}